.todos-buttons {
  width: 80%;
}
.todo-card {
  box-sizing: border-box;
  width: 80%;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #4f4d4d;
  text-align: center;
}
.todos-card-completed {
  background-color: darkgrey;
  border: 1px solid black;
  opacity: 0.5;
}
.todos-card-not-completed {
  border: 1px solid blue;
  opacity: 0.9;
}
