.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.users-list {
  display: flex;
  flex-direction: column;
}
.control-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}
.back-button {
  width: 10% !important;
}

.users-container {
  width: 50%;
  height: 80vh;
  margin: 10px auto;
}
@media (max-width: 400px) {
  .users-container {
    width: 100%;
  }
}
