.user-card {
  box-sizing: border-box;
  width: 30%;
  padding: 20px;
  margin: 10px;
  border: 1px solid #4f4d4d;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #4f4d4d;
  opacity: 0.9;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
